body{
  font-size:5em;
  font-style: normal;
  font-family:sans-serif;
  color:green;
}
.indent{
  width:30%
  float:right;
}
img{
  margin-right:20px;
  margin-bottom:5px;
  border:black:1px;
  padding:2px;
  width:100%;
  }
.jumbotron>h1{
  font-size: 2em;
  }
h2{
  font-size:1em;
  color:black;
}
image{
  height:inherit;
}
